<!DOCTYPE html>
<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>desde hbs</title>
		<link rel="icon" href="/img/icon/link.svg" type="image/svg+xml">
		<link rel='stylesheet' href='/css/reset.css' />
		<link rel='stylesheet' href='/css/style.css' />
		<link rel='stylesheet' href='/css/navbar.css' />
		<link rel='stylesheet' href='/css/card.css' />
		<link rel='stylesheet' href='/css/formUrl.css' />
		<script src='/js/main.js' defer></script>
	</head>
	<body>
		{{> Navbar}}
		{{#each mensajes }}
		<div class="alert">
			<p class="alert__msg">{{this.msg}}</p>
		</div>
		{{/each}}
		{{{body}}}
	</body>
</html>