<article class='menu'>
	<div class='menu__contentBar'>
		<button class='btn menu__btn' type='button' title='button' id='menuBtn'>
			<span class='menu__bar'></span>
		</button>
	</div>
	<nav class='menu__nav'>
		<ul class='menu__ul'>
			<li class='menu__item'>
				<a
					href='/'
					class='menu__link'
				>Home</a>
			</li>
			<li class='menu__item'>
				<a
					href='/perfil'
					class='menu__link'
				>perfil</a>
			</li>
			<li class='menu__item'>
				<a
					href='/auth/login'
					class='menu__link'
				>Login</a>
			</li>
			<li class='menu__item'>
				<a
					href='/auth/logout'
					class='menu__link'
				>Logout</a>
			</li>
			<li class='menu__item'>
				<a
					href='/auth/register'
					class='menu__link'
				>Sign Up</a>
			</li>
		</ul>
	</nav>
</article>